#map {
    height: 280px;
}

.custom-marker {
    filter: hue-rotate(145deg);
    /* Altere o valor para mudar a cor */
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    padding: 0px;
}

/* ********** MEDIA QUERIES ********** */

/* TABLETS */

@media screen and (min-width: 768px) {

    #map {
        height: 400px;
    }

    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out {
        padding: 10px;
    }

    .leaflet-control-zoom-in span,
    .leaflet-control-zoom-out span {
        font-size: 2rem;
    }

}


/* DESKTOPS */

@media screen and (min-width: 1024px) {

    #map {
        height: 250px;
    }

    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out {
        padding: 4px;
    }

    .leaflet-control-zoom-in span,
    .leaflet-control-zoom-out span {
        font-size: 1.6rem;
    }

}